div{
    background-color: #F8F9FA;
}
.title{
    text-align: center;
}

.clickable:hover{
    background-color: red;
    cursor: grab;
}
.description{
    background-color: white;
    text-align: center;
}
.spacer{
    margin-bottom: 1rem;
}
#fixedContainer {
    position: fixed;         /* Fixes the container to the viewport */
    right: 30px;             /* Adjust distance from the right edge */
    top: 60px;            /* Positions the container 60px from the bottom edge (adjust as needed) */
    z-index: 1000;           /* Ensures it stays on top of other elements */
    text-align: center;      /* Centers the text inside the container */
  }
  
  #counter {
    font-size: 16px;         /* Size of the counter text */
    color: white;            /* Counter text color */
    margin-bottom: 5px;      /* Space between the counter and the button */
    background-color: rgba(0, 0, 0, 0.5); /* Optional background to make the counter stand out */
    padding: 5px;            /* Padding around the counter text */
    border-radius: 5px;      /* Rounded corners for the counter */
  }
  