div{
    background-color: #F8F9FA;
}
.LeftPanel{
    float:left;
    width: 80%;
    font-size: large;
    padding-left: 1%;
    border-bottom: 1px solid ;
    border-right: 1px solid;
}
.LeftPanel:first-child{
    text-align: center;
}

.RightPanel{
    float: left;
    width: 20%;
    text-align: center;
    padding-left: 1%;
    font-size: large;
}
